@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:400,400i,700|Pacifico|Roboto:400,400i,700&subset=latin-ext");
html {
  font-size: 14px; }

img {
  max-width: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  position: relative; }

h3 {
  font-family: "Roboto", sans-serif; }

h5 {
  font-family: "Roboto", sans-serif; }

header {
  transition: 0.5s linear; }
  header .header-active {
    background: white; }
  header .navbar-brand {
    max-width: 50%; }
  header .logo {
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-size: 40px; }
  header .navbar-light .navbar-brand {
    color: #E84C3D; }
  header .navbar-light .navbar-nav .nav-link {
    color: #333b46;
    padding: 5px 10px;
    transition: 0.5s ease; }
  header .navbar-nav {
    background-color: #fff; }
  header .navbar-light .navbar-nav .nav-link:hover,
  header .navbar-light .navbar-nav .nav-item .nav-link.active {
    background: #E84C3D;
    color: #fff; }
  header .navbar-toggler {
    border-color: #E84C3D !important;
    background-color: #E84C3D;
    overflow: hidden; }
    header .navbar-toggler span {
      display: block;
      width: 32px;
      height: 3px;
      background-color: #fff;
      margin: 5px 0;
      position: relative;
      transition: 0.5s linear; }
      header .navbar-toggler span:hover {
        background: #fff;
        background-color: #E84C3D; }
  header .navbar-nav .nav-link {
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px solid #E84C3D;
    color: #fff; }
    header .navbar-nav .nav-link:hover, header .navbar-nav .nav-link.active {
      border-bottom: 1px solid #6c757d; }

@media (min-width: 768px) {
  header {
    /*HEADER*/ }
    header .navbar-nav .nav-link {
      border: none; }
      header .navbar-nav .nav-link:hover, header .navbar-nav .nav-link.active {
        border: none; }
    header .navbar-light .navbar-nav .nav-link {
      color: #333b46;
      padding: 5px 10px;
      border-bottom: 2px solid transparent; }
    header .navbar-light .navbar-nav .nav-link:hover,
    header .navbar-light .navbar-nav .nav-item .nav-link.active {
      background: transparent;
      color: #E84C3D;
      border-bottom: 2px solid #E84C3D; }
    header .navbar-nav {
      background: transparent; } }
.pocetna {
  position: relative;
  background-size: cover;
  background-position: center right; }
  .pocetna article {
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    min-width: 1%; }
  .pocetna .mouse {
    position: absolute;
    bottom: 2%;
    right: 30px;
    left: 800px;
    display: block; }
    .pocetna .mouse .scroll {
      color: #E84C3D; }

.onama img {
  border-radius: 10px; }
.onama .dash:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #999;
  margin-top: 15px; }
.onama .btn {
  background-color: #E84C3D !important;
  color: #fff;
  border-color: #E84C3D; }
  .onama .btn:hover {
    color: #ccc; }

.usluge {
  background-color: #EBEBEB; }
  .usluge .dash:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #999;
    margin: 20px auto 0; }
  .usluge .service-item {
    box-shadow: 5px 5px 8px 0px #adb5bd;
    border-radius: 10px; }
    .usluge .service-item:hover {
      transition: 1s;
      background-color: #E84C3D;
      color: #fff; }
      .usluge .service-item:hover .fa {
        color: #fff; }
    .usluge .service-item .fa {
      color: #E84C3D; }

.counter {
  padding: 100px 0;
  background-size: cover;
  background-position: center; }

.cenovnik {
  background-color: #D7D7D7; }
  .cenovnik .card {
    border-radius: 10px; }
    .cenovnik .card .card-body {
      border-radius: 10px 10px 0 0px; }
  .cenovnik .card-body {
    background-color: #81868E;
    color: #fff; }
    .cenovnik .card-body:hover {
      transition: 1s;
      background-color: black;
      color: #fff; }
  .cenovnik .btn {
    background-color: #E84C3D;
    border-color: #E84C3D;
    color: #fff; }
    .cenovnik .btn:hover {
      color: black; }
  .cenovnik .list-group-item:hover {
    transition: 1s;
    background-color: #E84C3D;
    color: #fff; }

.radovi .dash:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #999;
  margin: 20px auto 0; }
.radovi img {
  border-radius: 10px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2019, 12:45:47 PM
    Author     : sonja
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2019, 12:43:47 PM
    Author     : sonja
*/
footer {
  background-color: #E84C3D;
  color: #fff; }

/*# sourceMappingURL=theme.css.map */
