

html{
    font-size: 14px;
}
img{
    max-width: 100%;
}

body{
    font-family: $font-open-sans;
    font-weight: $font-weight-regular;
}

h3{
    font-family: $font-roboto;
}
h5{
    font-family: $font-roboto;
    
}