
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:400,400i,700|Pacifico|Roboto:400,400i,700&subset=latin-ext');

$font-lato:'Lato', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-pacifico: 'Pacifico', cursive;
$font-roboto: 'Roboto', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-italic:400i;