
footer{
    background-color: $gray-500;
    color:black;
    
    .logo{
        font-family: $font-pacifico;
        font-weight: $font-weight-bold;
        font-size: 25px;
        color: $primary;
    } 
    
    .social{
        .fa-facebook-square{
            color:$blue;
        }
        .fa-linkedin-square{
            color:blue;
        }
        .fa-instagram{
            color:purple;
        }
        .fa-twitter-square{
            color:$info;
        }
        .fa{
            &:hover{
                transform:  scale(1.3);
                transition: 0.5s ease;
            }
        }
    }
}