


header{
    .logo{
        font-family: $font-pacifico;
        font-weight: $font-weight-bold;
        font-size: 40px;
    } 
    .navbar-light{
        .navbar-brand{
            color:$red;
        }
    } 
}