

.usluge{
    background-color:#EBEBEB;
    .pacifico{
           font-family: $font-pacifico;
           font-size: 25px;
           color:black;
       }
    .dash{
       &:after{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #999;
     margin:20px auto 0;
}
}
.service-item{
       box-shadow: 5px 5px 8px 0px $gray-500; 
       border-radius:10px;
       &:hover{
           transition: 1s;
                background-color: $red;
                color:#fff;
                .fa{
                    color: #fff;
                }
       }
       .fa{
           color: $primary;
       }
       
}


}