
.vest-responsive{
    p{
        font-size: 16px;
    }
    h1{
        color:#000;
        &:hover{
            color:$primary;
        }
    }
}

@media(min-width:768px){
    .vest-responsive{
        p{
            font-size: 20px;
        }
    }
}